/* mat-toolbar {
    height: 90px;
    position: fixed;
    z-index: 99999;
    box-shadow : 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
mat-list {
    flex:1;
    position: absolute;
} */
mat-toolbar {
    height: 90px;
    /* position: fixed; */
    box-shadow : 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}