<section class="app">

    <div class="nav">
        <mat-toolbar color="primary" role="header">
            <mat-form-field color='accent'>
                <input matInput placeholder="Search Book">
            </mat-form-field>
        </mat-toolbar>
    </div>

    <div class="container">
        <router-outlet></router-outlet>
    </div>
</section>
