<mat-list>
        {{!loadFail$ | async}}
        <h1 *ngIf="loading$ | async">Loading.....</h1>
        <h1 *ngIf="loadFail$ | async">Loading Fail</h1>
        <ng-template *ngIf="loaded$ | async" ngFor let-book [ngForOf]="books$ | async" let-i="index">
                <mat-list-item> {{book.sBookName}} </mat-list-item>
        </ng-template>
</mat-list> 